/* styles.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styles */
.header {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

/* CoasterForm styles */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
select {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* CoasterTable styles */
.coaster-table-container {
  margin-bottom: 20px;
}

.coaster-table-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.coaster-table {
  width: 100%;
  border-collapse: collapse;
}

.coaster-table th,
.coaster-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.coaster-table th {
  background-color: #f2f2f2;
}

.coaster-table button {
  background-color: #dc3545;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .header {
    font-size: 28px;
  }

  form {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .header {
    font-size: 24px;
  }

  form {
    max-width: 250px;
  }
}
